.bodybackground{
  background-image: url("https://images.unsplash.com/photo-1616041452602-fc964851c753?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNjQ4MDI2OA&ixlib=rb-1.2.1&q=85"); 
  background-position: center;
  background-size: cover;
  }
  
  body{
    border: double 20px;
  }
  
  h1{
    color: red; 
    font-size: 50px;
    text-decoration: underline;
    font-family: Merriweather, serif;
  }
  
  #myCanvas{
     border-width: 10px;
     background-color: rgb(255, 255, 255);
     border-style: ridge;
  }
  
  span{
    font-size: 20px;
    margin-left: 10px;
  }
  
  input{
    margin-bottom: 10px;
    border: solid 5px;
  }
  
  button {
      margin-bottom: 10px;
      display: inline-block;
      padding: 15px 25px;
      font-size: 18px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #62b9f3;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
  }
    
  button:hover {
        background-color: #0a90e9;
  }
    
  button:active {
      background-color:#0a90e9;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
  }